@charset "UTF-8";

*{
    margin: 0;
    padding: 0%;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 6em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

p.creditos{
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

.cordel{
    font-size: 2em;
}