@charset "UTF-8";

*{
    margin: 0;
    padding: 0%;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 6em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

p.creditos{
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

/*PARTE 1 DO CORDEL*/

.cordel-universal{
    font-size: 2em;
}

main > section.cordel-universal{
    margin: 40px 0px 100px 0px;
}

main > section > p.verso-universal{
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    padding-left: 15px;
    line-height: 80px;
}

/*PARTE 2 DO CORDEL*/

section.fundo1{
    background-image: url(images/background001.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}